@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('Chunkfive-webfont.eot');
    src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg'),
         url('Chunkfive-webfont.woff') format('woff'),
         url('Chunkfive-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
	font-family: "Gill Sans", sans-serif;

    /* overriding iOS Safari behaviors */
    -webkit-user-select: none;                /* disable cut copy paste */
    -webkit-touch-callout: none;              /* disable callout, image save panel */
    -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

div {
    border: rgba(25,100,25,0.4) dotted 1px;
}

.ply_js_title {
	font-family: "ChunkFiveRegular", "Trebuchet MS", serif;
    font-weight: bold;
}

#pointer_marker_container {
    pointer-events: none;
    border: none;
    position: absolute;
    top: 0; left: 0;
}
.pointer_marker {
    position: absolute;
    background-color: #33f;
    border: #009 1px solid;
    top: -3px;
    left: -3px;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 blue;
}

#debug {
    pointer-events: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
}